/* External Fonts CDN  */
@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Ovo&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div#root {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 120px !important;
}
#hero {
  width: 800px;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#BrutanixLogoHero {
  margin-bottom: 66px;
}
section {
  margin: 0px !important;
}
p.sectionHeading {
  font-family: "Newsreader", serif;
  font-size: 24px;
  margin-bottom: 32px;
  font-weight: 500;
  text-align: center;
}
p.Text {
  font-family: "Ovo", serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  line-height: 23px;
}
#bestDesigns {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
}
.bestDesign {
  position: relative;
  width: 240px;
  height: 240px;
  overflow: hidden;
  border-radius: 24px;
}
.bestDesign img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 333px;
  height: 222px;
  box-shadow: -0px -0px 30px 10px rgba(0, 0, 0, 0.1);
}

/* Clients section */
section#clients,
section#services,
section#deck,
section#collaborators,
section#onlinePresence,
section#contact {
  width: 800px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clientCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
div.clientCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 380px;
  max-height: 174px;
  padding: 16px;
}
.clientCards-2 {
  margin-bottom: 20px;
}
div.clientCard img {
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
}
div.clientCard div {
  margin-left: 12px;
}
.clientTime {
  font-size: 12px;
  font-family: "Ovo", serif;
  color: #393939;
  background-color: #f8f8f8;
  padding: 4px 10px;
  width: fit-content;
  border-radius: 12px;
  margin: 0 0 6px 0;
}
.clientName,
.clientDes {
  font-family: "Newsreader", serif;
  font-size: 16px;
  color: #565656;
  margin-bottom: 4px;
  line-height: 140%;
}
.sectionButton {
  padding: 4px 10px;
  color: #393939;
  font-size: 12px;
  font-family: "Ovo", serif;
  text-decoration: none;
  background-color: #f8f8f8;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sectionButton img {
  width: 20.12px;
  height: 10px;
  margin-left: 10px;
}

/* Services Section Styles */
.serviceCard {
  width: 240px;
  height: 158px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 17px;
}
.serviceCard img {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
}
.servicesCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
.serviceName {
  font-family: "Newsreader", serif;
  font-size: 16px;
  color: #393939;
  margin-bottom: 4px;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
}
.serviceText {
  color: #393939;
  font-size: 20px;
  font-family: "Ovo", serif;
  text-align: center;
  line-height: 26px;
}

/* Our Deck Styles */
#deckContainers {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}
marquee {
  box-shadow: inset 10px 0 10px 240px #fff;
}
.languageDiv {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0px 20px;
}
.languageLogo {
  width: 24px;
  height: 24px;
  margin-bottom: 16px;
}
.languageName {
  font-size: 12px;
  font-family: "Ovo", serif;
  color: #323232;
  background-color: #f8f8f8;
  border-radius: 12px;
  padding: 4px 12px;
}

/* Collaborator Section Styles */
#collaborators {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.collaboratorCard {
  padding: 8px 16px 8px 8px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 24px;
  margin: 0px 16px 16px;
}
.collaboratorCard img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}
.collaboratorCard .collaboratorName {
  font-size: 12px;
  color: #393939;
  font-family: "Ovo", serif;
}

/* Socials Styling Section */
div#socialsCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.socialCard {
  background-color: #f8f8f8;
  padding: 8px 16px 8px 12px;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px 16px;
}
.socialCard img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* contact section styles */
#form form input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  margin-right: 32px;
  margin-bottom: 16px;
  font-size: 12px;
  font-family: "Ovo", serif;
  border: none;
  background-color: #f8f8f8;
  border-radius: 24px;
}
#form textarea {
  width: 560px;
  height: 208px;
  border: none;
  border-radius: 24px;
  background-color: #f8f8f8;
  padding: 16px;
}
#form input::placeholder,
textarea::placeholder {
  color: rgba(57, 57, 57, 0.5);
  font-family: "Ovo", serif;
}
#form button {
  border: none;
  color: #fff;
  padding: 8px 16px 8px 12px;
  font-size: 12px;
  font-family: "Ovo", serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 24px;
  background-color: #393939;
}
#form button img {
  width: 17.16px;
  height: 16px;
}
#formsend {
  position: relative;
}
#formsend button {
  position: absolute;
  right: 40px;
  bottom: 12px;
}
section#contact {
  margin-bottom: 40px;
}
::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 500px) {
  section#hero {
    width: 100%;
    padding: 0px 32px 0;
    margin: 60px 32px 0px !important;
  }
  #BrutanixLogoHero {
    margin-bottom: 48px;
  }
  p.sectionHeading {
    margin: 0 0 16px 0 !important;
  }

  p.Text {
    font-size: 14px;
  }
  section#hero p.Text {
    margin-bottom: 32px;
  }
  #bestDesigns {
    width: 100%;
  }
  .bestDesign {
    overflow: hidden;
    position: relative;
    margin-right: 28px;
    min-width: 240px;
    min-height: 240px;
  }
  .bestDesign img {
    position: absolute;
    top: 40px;
    left: 40px;
    box-shadow: -0px -0px 30px 10px rgba(0, 0, 0, 0.1);
  }
  section#services,
  section#deck {
    padding: 0px 32px !important;
    width: 100%;
  }
  section#clients {
    margin: 0px 32px;
    width: 100%;
  }
  .clientCards,
  div.clientCard {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .clientTime {
    display: inline;
    align-self: center;
    margin-bottom: 8px;
  }
  .clientName {
    margin-top: 8px;
    font-weight: 600;
  }
  p.clientDes,
  p.clientName {
    font-size: 14px;
  }
  div.clientCard {
    margin-bottom: 32px;
  }
  .servicesCards {
    flex-direction: column;
  }
  .serviceCard {
    margin-bottom: 16px;
  }
  .serviceName,
  .serviceText {
    font-size: 14px;
  }
  .serviceCard img {
    margin: 0 0 16px;
  }
  section#deck,
  section#collaborators {
    width: 100%;
    padding: 0px 16px;
  }
  section#deck p.Text {
    margin-bottom: 24px;
  }
  #collaborators {
    width: 100%;
    flex-direction: row;
  }
  #collaborators .Text {
    margin-bottom: 24px;
  }
  section#onlinePresence {
    padding: 0px 32px;
    width: 100%;
  }
  #onlinePresence p.Text {
    margin-bottom: 24px !important;
  }
  div#socialsCards {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .socialCard {
    margin-bottom: 16px;
  }
  section#contact {
    padding: 0px 32px;
    width: 100%;
  }
  section#contact p.Text {
    margin-bottom: 24px;
  }
  #form form {
    width: 100% !important;
  }
  #form form input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
  }
  #formsend {
    width: 100%;
  }
  textarea {
    position: relative;
    width: 100% !important;
  }
  #formsend button {
    right: 16px;
    bottom: 16px;
  }
  section {
    margin: 0px !important;
  }
  section#listing {
    width: 100% !important;
    padding: 0px 32px;
  }
}
/* Footer Styles */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  padding: 0px 32px;
  margin-bottom: 80px !important;
}
.footer .sectionHeading {
  line-height: 120%;
  color: #393939;
  margin-bottom: 0;
}
.footer .Text {
  line-height: 160%;
  margin-bottom: 0px;
}
.copyright {
  font-size: 12px;
  color: #393939;
  font-family: "Ovo", serif;
  line-height: 160%;
}
section.footer img {
  width: 50px;
  height: 50px;
}
/* section#contact {
  margin-bottom: 60px !important;
} */
section#listing {
  width: 800px;
}
section#listing .Text,
section#listing .sectionHeading {
  margin-bottom: 16px;
}
#listingCards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.listing {
  padding: 8px 16px;
  background-color: #f8f8f8;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#rushCard img {
  width: 70px;
  height: 16px;
}
#clutchCard img {
  width: 50px;
  height: 16px;
}
/* About Page Styles */

.aboutSectionText {
  font-size: 20px;
  font-family: "Newsreader", serif;
  line-height: 160%;
  color: #323232;
  text-align: left;
  margin-bottom: 24px;
}
section#aboutLanding {
  width: 800px;
  margin-top: 120px !important;
}
#brutanixCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  height: fit-content;
  margin-bottom: 24px;
}
#brutanixCard .Text,
#brutanixCard .sectionHeading {
  margin-bottom: 0px;
}
#brutanixCard img {
  width: 80px;
  height: 80px;
}
#brutanixCard div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center !important;
  gap: 8px;
}
div.gridAbout {
  width: 800px;
  padding: 0 24px 0 0;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  gap: 20px;
}
.mission {
  background: url(./assets/AboutMission.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 240px;
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}
.mission p.Text {
  margin-bottom: 0px;
  color: #f8f8f8;
  text-align: left !important;
}
.aboutSectionSeperateText {
  font-family: "Ovo", serif;
  font-size: 16px;
  color: #f8f8f8;
}
.locationStats {
  display: flex;
  flex-direction: column;
}
.locationAbout {
  width: 240px;
  height: 110px;
  background: url(./assets/aboutLocation.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  padding: 16px 20px;
}
.locationAbout p {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  gap: 8px;
}
.locationAbout img {
  width: 20px;
  height: 16px;
}
.socialsAboutStats {
  display: flex;
  flex-direction: row;
}
.socialsAbout {
  margin-top: 20px;
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 24px;
  background-color: #f8f8f8;
}
.socialsAbout img {
  width: 34px;
  height: 34px;
  padding: 4px;
  border-radius: 50%;
  /* background-color: #16aef9; */
}
.socialsAbout img#twitter {
  background-color: #16aef9;
}
.socialsAbout img#dribbble {
  background-color: #e74d89;
}
.socialsAbout img#instagram {
  background-color: #c13684;
}
.socialsAbout img#youtube {
  background-color: #f4405e;
}
.statsAbout {
  width: 110px;
  height: 110px;
  margin: 20px 0 0 20px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  padding: 16px;
  text-align: center;
  gap: 12px;
}
.statsAbout p#num {
  background-color: #fff;
  font-family: "Newsreader", serif;
  border-radius: 24px;
  width: 100%;
  padding: 4px 0px;
  font-weight: 600;
  color: #393939;
  margin-bottom: 0;
}
.statsAbout .gridseperate {
  font-family: "Ovo", serif;
  font-size: 16px;
  color: #393939;
  line-height: 120%;
  font-weight: 600;
}
.aboutSectionHeading {
  font-family: "Newsreader", serif;
  font-size: 24px;
  color: #393939;
  font-weight: 600;
  margin-bottom: 16px;
}
section#who {
  width: 800px;
}
div#activities {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
div.activity {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: #f8f8f8;
  padding: 8px 16px;
  border-radius: 24px;
}
div.activity img {
  width: 24px;
  height: 24px;
}
.activity p {
  font-family: "Newsreader", serif;
  font-size: 16px;
  color: #393939;
  font-weight: 500;
}
section#begin {
  width: 800px;
}
section#begin p {
  line-height: 160%;
}
#begin div#activities {
  margin-bottom: 16px;
}
section#moreAboutUs {
  width: 800px;
}
#more {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.individualDetail {
  background-color: #f8f8f8;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
  cursor: pointer;
}
.individualDetail p.detail {
  font-family: "Ovo", serif;
  font-size: 20px;
  color: #393939;
}
.individualDetail img {
  width: 18px;
  height: 16px;
}
.reachDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.reach p.Text {
  margin-bottom: 16px !important;
}
.reachDetails a {
  text-decoration: none;
  font-family: "Ovo", serif;
  font-size: 16px;
  color: #393939;
  padding: 12px 16px;
  border-radius: 24px;
  background-color: #f8f8f8;
}
@media only screen and (max-width: 600px) {
  section {
    width: 100% !important;
    padding: 0px 32px;
  }
  div.gridAbout {
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
  .mission {
    width: 100%;
    height: 160px;
  }
  .locationAbout {
    width: 100%;
    height: 160px;
  }
  .socialsAboutStats {
    padding: 0px !important;
  }
  .statsAbout {
    flex-direction: row;
    width: auto;
  }
}
@media only screen and (max-width: 600px) {
  #brutanixCard {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  #brutanixCard div {
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  #brutanixCard img {
    width: 50px;
    height: 50px;
  }
  .aboutSectionText {
    font-size: 14px;
  }
  section#who {
    text-align: center;
  }
  section#who .aboutSectionText,
  section#begin .aboutSectionText {
    text-align: center;
  }
  section#who div#activities {
    justify-content: center;
  }
  section#begin p {
    text-align: center;
  }
  #begin div#activities {
    align-items: center;
    justify-content: center;
  }
  .individualDetail {
    padding: 8px 16px;
  }
  .individualDetail img {
    width: 13px;
    height: 12px;
  }
  .individualDetail p.detail {
    font-size: 14px;
    line-height: 22.4px;
  }
  .reachDetails a {
    font-size: 14px;
  }
}
